@charset "UTF-8"

 *{
    height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }
 body{
   background-image: -moz-linear-gradient(to bottom,#fff347cb , #ffffff);
     
 }
 h1{
     text-align: center;
     color: #3EB595;
     text-shadow: #17463931 5px 5px 10px;
 }
 main{
    text-justify: auto;
   background: white;
    box-shadow: #00000023 5px 5px 5px ;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
 } 
 h2{
     color: #d6cc3d;
     text-shadow: #00000073 1px 1px px;
 }
 p{
     text-align:justify ;
     color: #1A1A1A;
}